{{ define "content" }}
<h1>Создать новую ячейку DeadDrop</h1>

<form action="/create" method="POST" enctype="multipart/form-data">

    <div>
        <label for="message">Сообщение:</label><br>
        <textarea id="message" name="message" rows="5" required></textarea>
    </div>

    <div>
        <label for="file">Прикрепить файл (опционально):</label><br>
        <input type="file" id="file" name="file" placeholder="Максимальный размер - 2 Гб">
    </div>

    <div>
        <label for="ttl">Время жизни ячейки (часов, опционально):</label><br>
        <input type="number" id="ttl" name="ttl" min="1" placeholder="Например, 24">
    </div>

    <div>
        <button type="submit">Создать ячейку</button>
    </div>
</form>
{{ end }}
